<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
  <link rel="stylesheet" href="{{ asset('css/HomePage.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome-4.7.0/css/font-awesome.css')}}">
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Sign in</title>
</head>






<body>
  <header>
    <nav id="mainNav" class="navbar navbar-inverse navbar-custom navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expended="true">
            <span class="sr-only">Toggle navigation</span> Menu
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">BDE CESI Lyon</a>
          <div class="navbar-header">
              <!--<a class="navbar-brand page-scroll" href="#page-top">
              <img alt="Brand" src="{{ asset('img/logoBDENavBar.png') }}">
              </a>-->
          </div>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="#truc"><i class="fa fa-info-circle" aria-hidden="true"></i> Information</a>
            </li>
            <li>
              <a class="page-scroll" href="#portfolio"><i class="fa fa-newspaper-o" aria-hidden="true"></i> News</a>
            </li>
            <li>
              <a class="page-scroll" href="#team"><i class="fa fa-users" aria-hidden="true"></i> BDE</a>
            </li>
            <li>
              <a class="page-scroll" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shop</a>
            </li>
            <li>
              <a class="page-scroll" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign in</a>
            </li>
            <li>
              <a class="page-scroll" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Login</a>
            </li>
              
          </ul>
            <!--
            <form class="navbar-form navbar-right inline-form">
          <div class="form-group">
               <input type="search" class="input-sm form-control" placeholder="Search">
               <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Search</button>
          </div>
          </form>
          -->
        </div>
                <!-- /.navbar-collapse -->
      </div>
            <!-- /.container-fluid -->
    </nav>
  </header>





<hr>

    <div class="container">

{% if Valid is defined and Valid != NULL %}
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <H1>Merci Pour votre inscription, vous pouvez désormais consulter le site comme bon vous semble ! Code {{Valid}}</H1>

{% else %}

      <form class="form-signin" method="post" action="RegisterVerify" enctype="multipart/form-data">
        <h1 class="form-signin-heading">Please sign in</h1>

        <h4> Informations </h4>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
          <label for="inputName" class="sr-only">Name</label>

<hr>
        <input type="last name" name="inputLastname" id="inputLastname" class="form-control" placeholder="Last name" required autofocus>
          <label for="inputlastname" class="sr-only">Last name</label>

<hr>
        <input type="pseudonyme" name="inputPseudo" id="inputPseudo" class="form-control" placeholder="Pseudonyme" required autofocus>
          <label for="inputPseudo" class="sr-only">Pseudonym</label>

<hr>
        <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>

<hr>
        <h4>Date of birth</h4>
        <input type="date" name="inputBirthDate" id="inputBirthDate" class="form-control" placeholder="Date of birth" required autofocus>
          

<hr>
        <h4>Password</h4>
        <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>

<hr>
        <label for="inputPassword" class="sr-only">Confirmation Password</label>
          <input type="password" id="confirmation" name="confirmation" class="form-control" placeholder="Confirm your password" required autofocus>
        
<hr>          
    <div>
      <h4>Gender</h4>
      <label class="radio-inline">
        <input required autofocus type="radio" name="inlineRadioSexe" id="Male" value="M"> Male
        </label>
    </div>
    <div>
      <label class="radio-inline">
        <input required autofocus type="radio" name="inlineRadioSexe" id="Female" value="F"> Female
      </label>
    </div>
<hr>
    <h4>School</h4>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioSchool" id="inlineRadio1" value="1"> Exia
      </label>
      <label class="radio-inline">
        <input  type="radio" name="inlineRadioSchool" id="inlineRadio2" value="2"> CPTEI
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioSchool" id="inlineRadio3" value="3"> Alternant
      </label>
<hr>
      <h4>Administration</h4>
      <label class="radio-inline">
        <input required autofocus type="radio" name="inlineRadioOption" id="inlineRadioOption" value="0"> BDE
      </label>

      <label class="radio-inline">
        <input required autofocus type="radio" name="inlineRadioOption" id="inlineRadioOption" value="1"> Student
      </label>
<hr>
      <div class="form-group">
        <h4>Avatar</h4>
        <label for="Avatar"></label>
          <input type="file" id="Avatar" name="Avatar">
        <p class="help-block">500 ko maximum</p>
      </div>
 <hr>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

{% endif %}

    </div>



    <footer>
        <p><center>&copy;  2017 CaKeChi corporation.</center></p>
        <p><center>Copyrighted.</center></p>
    </footer>
</body>
</html>