<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset('bundles/ocplatform/css/ShopHome.css') }}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/asset/css/ShopHome.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Login in</title>
</head>
<body>
        <header>
        <nav class="navbar navbar-inverse navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">BDE CESI Lyon</a>
            </div>

                  </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    </header>

        <hr>
    <div class="container">

      <form class="form-signin">
        <h1 class="form-signin-heading">Login in</h1>

         <label for="inputPseudonyme" class="sr-only">Pseudonyme</label>
        <input type="pseudonyme" id="inputPseudo" class="form-control" placeholder="Pseudonyme" required autofocus>
<hr>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
<hr>  
        <em>Haven't an account ? Let's sign in ! </em>
        <br>
        <button type="button" class="btn btn-default">Sign in</button>
<hr>
        <button class="btn btn-lg btn-primary btn-block" type="submit" href="HomePage.html.twig">Login</button>
      </form>

    </div> <!-- /container -->


    <footer>
        <p><center>&copy; 2017 CaKeChi corporation.</center></p>
        <p><center>Copyrighted.</center></p>
      </footer>
</body>
</html>